@import url('https://asare120.github.io/EDU-TWI.com/'){
    margin:0;
    padding:0;
    box sizing: border boxes;
    font-family:'poppins',sans-serif;
}

.links{
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}

.links > a{
    text-decoration: none;
    color: black;
    padding: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    text-align: center;
}

.links > a:hover{
    color: darkgoldenrod;
    border-bottom: 2px solid black;
}

p{
    text-align: left;
    font-family: monospace;
    font-family: sans-serif;
}

h1{
    text-align: left;
    text-align: justify-all;
}

#JHS1-3{
    text-align: center;
}